body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
}
.sidebar {
    width: 250px;
    color: #ecf0f1;
    position: fixed;
    height: 100%;
    padding-top: 20px;
    overflow-y: auto;
    background-color: #34495e; /* Warna latar belakang sidebar */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Efek bayangan */
}
.sidebar h2 {
    padding: 15px;
    margin: 20px;
    text-align: center;
    font-size: 24px; /* Ukuran teks judul */
    color: #fff; /* Warna teks judul */
    border: 2px solid #fff; /* Tampilan border mengelilingi teks */
    border-radius: 10px; /* Radius border */
    transition: color 0.3s ease; /* Efek transisi saat hover */
    background-color: #0c1e31;
}
.sidebar h2:hover {
    color: #eabf75; /* Warna teks judul saat hover */
}
.sidebar img {
    display: block;
    margin: 0 auto;
    width: 150px; /* Ukuran gambar */
    border-radius: 50%; /* Bentuk gambar menjadi lingkaran */
}
nav a {
    display: block;
    padding: 15px;
    font-size: 18px;
    color: #ecf0f1;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #2c3e50; /* Warna latar belakang berubah saat hover */
}
.content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mengisi tinggi minimal sesuai ketinggian layar */
}
.header {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}
footer {
    background-color: #34495e;
    color: #ecf0f1;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    border-radius: 5px;
}
.card {
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}
.cardtable{
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-10px);
}
.chart {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    background-color: #f2f2f2;
    position: relative;
}
.chart::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.chart:hover::before {
    opacity: 1;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    table-layout: auto; /* Lebar kolom menyesuaikan dengan konten di dalamnya */
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
    white-space: nowrap; /* Menghindari pemotongan teks */
    overflow: hidden; /* Mengatasi teks yang berlebihan */
    text-overflow: ellipsis; /* Menampilkan tanda elipsis untuk teks yang terpotong */
}
th {
    background-color: #2c3e50;
    color: #ecf0f1;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table-wrapper {
    max-height: 100%; /* Adjust this value as needed */
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    border: none;
}
.btn {
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 5px;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 14px;
    text-align: center;
}
.btn i {
    margin-right: 5px;
}
.btn-update {
    background-color: #3498db;
}
.btn-delete {
    background-color: #e74c3c;
}
.btn-update:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}
.btn-delete:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.pagination button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

.pagination button.disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.pagination #page-info {
    margin: 0 10px;
    font-size: 16px;
    color: #34495e;
}
