/* Mengatur tampilan dan tata letak elemen <body> */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
}

/* Mengatur tampilan dan tata letak elemen header */
.header {
    width: 100%;
    background-color: #34495e;
    color: #ecf0f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}

/* Mengatur tampilan dan tata letak elemen dengan kelas "logo" di dalam header */
.header .logo {
    display: flex;
    align-items: center;
}

/* Mengatur tampilan dan tata letak elemen <img> di dalam kelas "logo" */
.header .logo img {
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

/* Mengatur tampilan dan tata letak elemen <nav> di dalam header */
.header nav {
    display: flex;
    padding-right: 50px; 
}

/* Mengatur tampilan dan tata letak elemen <a> di dalam elemen <nav> */
.header nav a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 18px;
    color: #ecf0f1;
    text-decoration: none;
    transition: background-color 0.3s ease; 
    margin-left: 15px;
    border-radius: 5px;
}

/* Mengatur tampilan dan tata letak elemen <i> didalam element <a> yang berada di elemen <nav>*/
.header nav a i {
    margin-right: 10px;
}

/* Mengatur tampilan dan tata letak elemen <a> saat hover */
.header nav a:hover {
    background-color: #2c3e50;
    color: #eabf75;
    cursor: pointer;
}

/* Mengatur tampilan dan tata letak elemen dengan kelas "content" */
.content {
    padding: 100px 40px 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    z-index: 1;
}

/* Mengatur tampilan dan tata letak elemen sebelum elemen "content" */
.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_2t/7277.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}

/* Mengatur tampilan dan tata letak elemen dengan kelas "header-content" */
.header-content {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Mengatur tampilan dan tata letak elemen <h1> di dalam kelas "header-content" */
.header-content h1 {
    margin: 0;
    font-size: 28px;
    color: #34495e;
    text-align: center;
}

/* Mengatur tampilan dan tata letak elemen dengan kelas "card" */
.card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* Mengatur tampilan dan tata letak elemen dengan kelas "card-sub" */
.card-sub {
    display: flex;
    justify-content: space-between; 
}

/* Mengatur tampilan dan tata letak elemen dengan kelas "cardsub" */
.cardsub {
    flex: 0 0 calc(24.5% - 40px); 
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    margin-bottom: 20px;
}

/* Mengatur tampilan dan tata letak elemen dengan kelas "cardsub" saat hover */
.cardsub:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Mengatur tampilan dan tata letak elemen <h3> di dalam kelas "cardsub" */
.cardsub h3 {
    margin-top: 0;
    color: #34495e;
}

/* Mengatur tampilan dan tata letak elemen <h4> di dalam kelas "cardsub" */
.cardsub h4 {
    margin: 0;
    color: #6c757d;
}

/* Mengatur tampilan dan tata letak elemen dengan kelas "card" saat hover */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Mengatur tampilan dan tata letak elemen <h2> di dalam kelas "card" */
.card h2 {
    margin-top: 0;
    color: #34495e;
}

/* Mengatur tampilan dan tata letak elemen dengan kelas "cardtable" */
.cardtable {
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Mengatur tampilan dan tata letak elemen dengan kelas "cardtable" saat hover */
.cardtable:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Mengatur tampilan dan tata letak elemen dengan kelas "table-wrapper" */
.table-wrapper {
    overflow-x: auto; 
    border-radius: 5px;
}

/* Mengatur tampilan dan tata letak elemen <table> */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

/* Mengatur tampilan dan tata letak elemen <th> dan <td> di dalam tabel */
table, th, td {
    border: 1px solid #ddd;
}

/* Mengatur tampilan dan tata letak elemen <th> dan <td> */
th, td {
    padding: 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

/* Mengatur tampilan dan tata letak elemen <th> */
th {
    background-color: #2c3e50;
    color: #ecf0f1;
}

/* Mengatur tampilan dan tata letak baris genap */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Mengatur tampilan dan tata letak elemen baris saat hover */
tr:hover {
    background-color: #3498db79;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Mengatur tampilan dan tata letak elemen <td> saat hover */
td:hover {
    background-color: #297fb99c;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Mengatur tampilan dan tata letak elemen dengan kelas "pagination" */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

/* Mengatur tampilan dan tata letak elemen <button> di dalam kelas "pagination" */
.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Mengatur tampilan dan tata letak elemen <button> saat hover */
.pagination button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

/* Mengatur tampilan dan tata letak elemen <button> yang tidak aktif */
.pagination button.disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

/* Mengatur tampilan dan tata letak elemen dengan ID "page-info" di dalam kelas "pagination" */
.pagination #page-info {
    margin: 0 10px;
    font-size: 16px;
    color: #34495e;
}

/* Mengatur tampilan dan tata letak elemen <select> di dalam kelas "pagination" */
.pagination select {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4px;
    border: 1px solid #3498db;
    font-size: 16px;
    color: #34495e;
    cursor: pointer;
}

/* Mengatur tampilan dan tata letak elemen <footer> */
footer {
    background-color: #34495e;
    color: #ecf0f1;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: auto; 
}

/* Media queries untuk mode potrait */
@media only screen and (max-width: 600px) {
    .header nav {
        padding-right: 40px;
        flex-direction: column;
        align-items: flex-start;
    }
    .header nav a {
        width: 100%;
        padding: 10px 0;
        margin-left: 0;
    }
    .content {
        padding: 100px 20px 20px;
    }
    .header-content {
        margin-bottom: 10px;
    }
    .card, .cardtable {
        padding: 15px;
    }
    .filter-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .filter-container label, .filter-dropdown, .button-icon {
        width: 100%;
        margin-bottom: 10px;
    }
    .filter-dropdown, .button-icon {
        margin-right: 0;
    }
    .cardsub {
        flex: 0 0 100%;
        margin-bottom: 15px;
    }
    .card-sub {
        flex-direction: column;
    }
}

/* Media queries untuk mode landscape */
@media only screen and (min-width: 601px) {
    .header nav {
        flex-direction: row;
        align-items: center;
    }
    .header nav a {
        width: auto;
        padding: 10px 15px;
        margin-left: 15px;
    }
    .content {
        padding: 100px 40px 20px;
    }
    .header-content {
        margin-bottom: 20px;
    }
}

/* Mengatur tampilan dan tata letak elemen dengan kelas "button-icon" */
.button-icon {
    padding: 5px;
    margin-left: 5px;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 14px;
}

/* Mengatur tampilan dan tata letak elemen <i> di dalam kelas "button-icon" */
.button-icon i {
    font-size: 16px;
}

/* Mengatur tampilan dan tata letak elemen <button> dengan kelas "button-icon" saat hover */
.button-icon:hover {
    background-color: #2980b9;
}

/* Mengatur tampilan tombol yang dinonaktifkan dengan latar belakang abu-abu dan kursor "not-allowed" */
.button-icon.disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

/* Menggunakan flexbox untuk tata letak, dengan elemen yang dipisahkan dan diselaraskan di tengah */
#year-built-header, .header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Menambahkan margin kanan untuk memberi jarak antara elemen dalam header-text */
.header-text span {
    margin-right: 10px;
}

/* Menyusun elemen dalam grup tombol dengan flexbox, menyelaraskan di tengah, dan mencegah pengecilan elemen */
.button-group {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

/* Menyusun elemen dalam kontainer filter dengan flexbox, menambahkan padding, membulatkan sudut, dan menambahkan bayangan untuk efek 3D */
.filter-container {
    display: flex;
    z-index: 1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Mengatur tampilan dropdown filter dengan padding, warna latar belakang, warna teks, tanpa border, sudut membulat, dan kursor pointer, serta menambahkan transisi untuk efek hover */
.filter-dropdown {
    padding: 12px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* Mengubah tampilan dropdown filter saat hover dengan warna latar belakang baru dan sedikit menggeser ke atas */
.filter-dropdown:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

/* Mengubah tampilan tombol filter saat hover dengan warna latar belakang baru dan sedikit menggeser ke atas */
.filter-button:hover {
    background-color: #bf2b1b;
    transform: translateY(-2px);
}

/* Mengatur tampilan label dalam kontainer filter dengan padding, warna latar belakang, warna teks, sudut membulat, kursor pointer, dan transisi untuk efek hover */
.filter-container label {
    padding: 12px 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Mengubah tampilan label saat hover dengan warna latar belakang baru */
.filter-container label:hover {
    background-color: #2980b9;
}
