.card {
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}
.cardtable{
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-10px);
}
.chart {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    background-color: #f2f2f2;
    position: relative;
}
.chart::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.chart:hover::before {
    opacity: 1;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    table-layout: auto; /* Lebar kolom menyesuaikan dengan konten di dalamnya */
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
    white-space: nowrap; /* Menghindari pemotongan teks */
    overflow: hidden; /* Mengatasi teks yang berlebihan */
    text-overflow: ellipsis; /* Menampilkan tanda elipsis untuk teks yang terpotong */
}
th {
    background-color: #2c3e50;
    color: #ecf0f1;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table-wrapper {
    max-height: 100%; /* Adjust this value as needed */
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    border: none;
}
.btn {
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 5px;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 14px;
    text-align: center;
}
.btn i {
    margin-right: 5px;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.pagination button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

.pagination button.disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.pagination #page-info {
    margin: 0 10px;
    font-size: 16px;
    color: #34495e;
}